#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        
        diode-direction = "row2col";

        // Rows are Outputs
        row-gpios
            = <&io_expander 0 GPIO_ACTIVE_HIGH>
            , <&io_expander 1 GPIO_ACTIVE_HIGH>
            , <&io_expander 2 GPIO_ACTIVE_HIGH>
            ;

        // Columns are Inputs. 
        // NOTE: GPIO_PULL_DOWN has been removed here because the TCA9555 
        // does not support software pull-downs. It relies on your physical resistors.
        col-gpios
            = <&io_expander 3 GPIO_ACTIVE_HIGH>
            , <&io_expander 4 GPIO_ACTIVE_HIGH>
            , <&io_expander 5 GPIO_ACTIVE_HIGH>
            ;
    };
};

&xiao_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; // Add this line to stabilize I2C

    io_expander: tca9555@20 {
        compatible = "nxp,pca95xx";
        reg = <0x20>; 
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>; 
    };
};