/* 1. Set up the I2C Expander on the correct bus (i2c0) */
&i2c0 {
    status = "okay";
    
    pca9555: pca95xx@20 {
        compatible = "nxp,pca95xx";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
    };
};

/* 2. Set up the Matrix Scanner */
/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        
        /* Drive columns LOW when active */
        col-gpios
            = <&pca9555 2 GPIO_ACTIVE_LOW>
            , <&pca9555 3 GPIO_ACTIVE_LOW>
            ;

        /* Trigger on LOW. PULL_UP removed to prevent the runtime crash! */
        row-gpios
            = <&pca9555 0 GPIO_ACTIVE_LOW>
            , <&pca9555 4 GPIO_ACTIVE_LOW>
            ;
    };
};