#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h> /* Adds Mouse Support! */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  &kp B
                &kp C  &kp D
            >;
            
            /* The order is: <&inc_dec_msc CLOCKWISE COUNTER-CLOCKWISE> */
            sensor-bindings = <&inc_dec_msc SCRL_UP SCRL_DOWN>;
        };
    };
};